body {
    font-family: Cabin;
    background-color: #eeeeee;
    color: #1F1F1F;
}

/* header */

header {
    margin: 0 auto;
    width: 1440px;
    position: sticky;
    top: 0;
    left: 0;
}

.header-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 16px 52px;
    gap: 10px;
    background: #6D91DC;
    box-sizing: border-box;
    position: sticky;

}

.company,
.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #F8FDFE;
    position: relative;
}

.company a {
    font-family: Rochester;
    font-size: 28px;
    font-weight: 400;
}

.cart-num {
    position: absolute;
}

/* header 2 */

.header-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 52px;
    background-color: white;
}

.info {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

/* main */

main {
    width: 1440px;
    margin: 0 auto;
}

.title {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    box-sizing: border-box;
    border-bottom: 2px solid gray;
    margin: 36px 52px;
    padding-bottom: 23px;
}

.form {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.form span {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/* user contact information */

.contact-address {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 416px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.inputs label {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.inputs input {
    box-sizing: border-box;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #8E8E8E;
    background: #F5F5F5;
}

input:focus {
    border: 1.5px solid #2080F6;
    background: #F5F5F5;
    box-shadow: 0px 0px 0px 3px rgba(31, 93, 224, 0.15);
    outline: none;
}

/* address */

textarea {
    resize: none;
}

.textarea,
.comment {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 416px;
}

.textarea label,
.comment label {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.textarea textarea,
.comment textarea {
    box-sizing: border-box;
    padding: 10px;
    height: 104px;
}

.date {
    display: flex;
    gap: 20px;

}

.date label {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.date input {
    width: 120px;
    padding: 2px 8px;
    align-items: center;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #8E8E8E;
}

/* radio buttons */

.radio {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.text {
    display: flex;
    flex-direction: column;

}

.p1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.p2 {
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 00;
    line-height: 24px;
}

.radio-btns {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.radio-btn {
    display: flex;
    gap: 8px;
    align-items: center;
    box-sizing: border-box;
}

.radio-btn label {
    font-size: 18px;
    font-weight: 400;
}

/* order list */

.order-list {
    background-color: white;
    box-sizing: border-box;
    padding: 40px;
    width: 526px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.order-item {
    display: flex;
    gap: 24px;
}

.price {
    color: #E90000;
    font-weight: 400;
}

.item {
    width: 192px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.item-info p {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    border-bottom: 1px solid gray;
    margin: 0;
}

.item-info span {
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.item input {
    width: 53px;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid gray;
}

/* order buttons */

.place-order {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.order {
    display: flex;
    gap: 16px;
}

.reset,
.submit {
    box-sizing: border-box;
    padding: 0px, 24px;
    width: 215px;
    height: 40px;
    border-radius: 4px;
    border: none;
}

.submit {
    background: #3D76BA;
    color: white;
}

.reset {
    background: #DEDEDE;
    color: black;
}

.submit:hover {
    background: #63A1EB;
}

.reset:hover {
    background: #EEE;
}

/* footer */

footer {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    box-sizing: border-box;
    padding: 32px 52px;
    background-color: #6D91DC;
    color: white;
    margin-top: 121px;
}